grafana:
  plugins:
    - victoriametrics-logs-datasource
  ingress:
    ingressClassName: nginx
    enabled: true
    hosts:
      - grafana.apatsev.org.ru
vmalert:
  spec:
    resources:
      limits:
        cpu: 600m
        memory: 2000Mi
      requests:
        cpu: 600m
        memory: 2000Mi
